<%-include("partials/header")%>


    <p>Username: <%=foundUser.username%></p>
    <p>Full name: <%=foundUser.firstName%> <%=foundUser.lastName%></p>
    <p>Date signed up: <%=foundUser.signupDate%></p>
    <br><hr><br>


    <div class="logoutButton">
        <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    </div>

<%-include("partials/footer")%>